/* Text */
@font-face {
    font-family: 'PressStart2P-Regular';
    src: url('PressStart2P-Regular.ttf');
}

.text {
    -fx-font-family: "Press Start 2P";
    -fx-font-size: 18;
}

.text2 {
    -fx-font-family: "Press Start 2P";
}
/* Background */

.bodybg {
    -fx-background-image: url("image/menu_bgLS.jpg");
}

.htpbg {
    -fx-background-image: url("image/htpbgpng.png");
}

.gameoverBG {
    -fx-background-image: url("image/gameOver.png");
}

.loadingBG {
    -fx-background-image: url("image/loadingImage.png");
}
/* Button */
.button2:focused {
    -fx-effect:  dropshadow(gaussian, #67676D, 12, 0.8, 0.0, 3);

}

.button3:hover{
    -fx-effect:  dropshadow(gaussian, #67676D, 12, 0.8, 0.0, 3);
}

.button4:focused {
    -fx-effect:  dropshadow(gaussian, grey, 12, 0.8, 0.0, 3);
}

.borderPane {
    -fx-border-color: #ffea00;
    -fx-border-width: 3px;
}

