@font-face {
    font-family: 'PressStart2P-Regular';
    src: url('PressStart2P-Regular.ttf');
}

.text {
    -fx-font-family: "Press Start 2P";
    -fx-font-size: 18;
}

.bodybg {
    -fx-background-image: url("menu_bgLS.jpg");
}

.button2:focused {
    -fx-effect:  dropshadow(gaussian, #67676D, 12, 0.8, 0.0, 3);
    -fx-background-image: url("temp2.png");
}
